@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&family=Source+Code+Pro:wght@300;400;700&display=swap');
/* variavel do CSS */
:root{
    --cor-do-texto: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    height: 250vh;
    font-size: 12px;
    color: var(--cor-do-texto);
}

@media (min-width: 300px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 50vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 12px;
        background-attachment: fixed;
    }
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos 
borrado.*/

@media (min-width: 400px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 60vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 13px;
    }
}

@media (min-width: 500px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 70vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 80vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 15px;
    }
}

@media (min-width: 700px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 90vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 100vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 17px;
    }
}

@media (min-width: 900px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 140vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 190vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 19px;
    }
}

/* breakpoint - com inversão de cores. */

@media (min-width: 1200px) {
    body, .back-img {
        background-image: url('../img/fundo7.jpg');
        background-size: auto 230vh;
        -webkit-backdrop-filter: blur(10px);
        /* Safari 9+ */
        backdrop-filter: blur(10px);
        /* Chrome and Opera */
        font-size: 20px;
        /*
        mudar de cor e tirar a imagem de fundo
        background-image: none;
        background-color: rgb(163, 72, 121);
        */
        /*-webkit-filter: invert(100%);
        filter: invert(100%);*/
    }
}

a {
    color: teal;
    text-decoration: none;
}


header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu li a {
    padding: 10px 20px;
    display: block;
    transition: background-color 1s, color 0.5s;
}

.menu li a:hover,
.menu li a:active{
    background-color: blue;
    color: white;
}

.titulo{
    transform: scale(0,2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 0.5s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
    from{
        transform: scale(0.5) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateY(0);
        opacity: 1;
    }    
}

.site-titulo, .site-subtitulo {
    color: var(--cor-do-texto);
    text-align: center;
}

.site-titulo {
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitulo {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}


.portifolio,
.contato,
.sobre{
    padding: 2em;
    min-height: 100vh;
}

@media (min-width: 1200px){
    .container{
        width: 1200px;
        margin: 0 auto;
    }
}

.sobre p{
    color: white;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
}

.sobre .avatar{
    margin-left: 2em;
    clip-path: polygon(50% 0% , 100% 25% , 100% 75% , 50% 100%, 0% 75%, 0% 25%);
    animation: 0.5s ease-in 500ms animacaoTitulo forwards;
}

@media (min-width: 600px){
    .sobre .avatar{
        float: right;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
}

.portifolio h2, 
.contato h2,
.sobre h2{
    font-family: 'Press Start 2P';
    color: var(--cor-do-texto);
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portifolio .grid{
    display: grid;
    gap: 7em;
}

@media (min-width: 560px){
    .portifolio .grid{
        grid-template-columns: repeat(2, 220px);
    }
}

@media (min-width: 880px){
    .portifolio .grid{
        grid-template-columns: repeat(3, 260px);
        justify-content: center;
        align-items: center;
        height: calc(100vh - 8em - 48px);
    }
}

.portifolio figure{
    text-align: center;
}

.img-portifolio {
    height: 150px;
    width: 300px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 0.5s; /* OR 500ms */
}

/*.img-portifolio:hover{
    transform: scale(1.2) rotate(0deg);
}*/

.contato .icones{
    text-align: center;
}

.contato a{
    color: var(--cor-do-texto);
    font-size: 4em;
    transition: text-shadow 0.5s;
}

.contato a:hover{
    text-shadow: 0px 0px 10px rgba(0, 225, 255, 0.5);
}

.flip-card{
    height: 180px;
    perspective: 1000px;
}

.flip-card:hover .card{
    transform: rotateY(180deg);
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;
}

.card-front,
.card-back{
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-back{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
    flex-wrap: wrap;
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
}

.card-back h3{
    text-align: center;
}

.card-back p{
    font-size: small;
    text-align: center;
}